<li class="articles__card">
  <h3 class="title3">
    {{ cardTitle }}
  </h3>
  <div class="articles__section">
    {{ cardDateCreate }}
    {{#if cardTags.length}}
      |
      {{#each cardTags}}
        <span class="articles__tag">{{ this }}</span>
      {{/each}}
    {{/if}}
  </div>
  <p class="articles__description">
    {{ cardText }}
  </p>
  <a href="/articles/{{cardSlug}}" class="articles__head_link">Далее 	&#8594;</a>
</li>