<div class="examples__card">
  <a href="/cases/{{slug}}" >
    <img src="/cases/{{slug}}/preview.png" alt="Preview" class="examples__card_img">
  </a>
  <div class="examples__card_content">
    <a href="/cases/{{slug}}" class="examples__card-title">
      <h3 class="title3">{{ name }}</h3>
    </a>
    <p>
      {{ description }}
    </p>    
    <a href="/cases/{{slug}}" class="articles__head_link">Подробнее &#8594;</a>
  </div>
</div>