    <section class="examples">
      <div class="container">
        <div class="promo__head">
          <h1 class="promo__title">
            {{name}}
          </h1>
        </div>
        <div class="promo__content">
          <div>
            <p class="promo__subtitle">
              {{ text }}
            </p>
            <p class="promo__subtitle">
              Укажите адрес электронной почты, на который выслать пример базы данных:
            </p>
            <p class="promo__subtitle">
              <form action="/" method="post" class="examples__form">
                <input type="email" placeholder="Ваш email..." name="email" class="contact-form__form-field_flat" required="">
                <input type="hidden" value="{{ slug }}" name="slug">
                <button class="contact-form__button">Отправить</button>
              </form>
            </p>
          </div>
          <img src="/cases/{{slug}}/preview.png" alt="parsing example preview {{name}}" class="promo__img">
        </div>
      </div>
    </section>