    <div class="container">
      <section class="promo">
        <div>
          <h1>{{site.name}}</h1>
          <h1 class="promo__title">
            Услуги парсинга веб-сайтов под заказ
          </h1>
          <p class="promo__subtitle">
            Создаем системы мониторинга цен и ассортимента конкурентов.
          </p>
          <p class="promo__subtitle">
            Собираем и анализируем данные из открытых источников.
          </p>
        </div>
        <img src="images/candy5.jpg" alt="web-parsing" class="promo__img">
      </section>
    </div>
    {{#if articles.length}}
      <section class="articles">
        <div class="container">
          <div class="articles__head">
            <h2 class="title2">
              Статьи
            </h2>
            <a href="/articles" class="articles__head_link">Ещё</a>
          </div>
          <ul class="articles__list">

            {{#each articles}}
              <li class="articles__card">
                <h3 class="title3">
                  {{ cardTitle }}
                </h3>
                <div class="articles__section">
                  {{ cardDateCreate }}

                  {{#if cardTags.length}}
                    |
                    {{#each cardTags}}
                      <span class="articles__tag">{{ this }}</span>
                    {{/each}}
                  {{/if}}
                </div>
                <p class="articles__description">
                  {{ cardText }}
                </p>
                <a href="/articles/{{cardSlug}}" class="articles__head_link">Далее 	&#8594;</a>
              </li>
              
            {{/each}}
          </ul>
        </div>
      </section>
    {{/if}}