    <section class="promo">
      <div class="container">
        <div class="promo__head">
          <h1 class="promo__title">
            Услуги парсинга веб-сайтов под заказ
          </h1>
          <p class="promo__subtitle">
            Создаем системы мониторинга цен и ассортимента конкурентов. Собираем данные из открытых источников.
          </p>
        </div>
        <div class="promo__content">
          <div>
            <p class="promo__subtitle">
              <b>Бесплатно</b><br>
              Подготовим прототип парсера по вашему заданию<br>
              <a href="#howitworks" class="articles__head_link">
                Как это работает
              </a>
            </p>
            <p class="promo__subtitle">
              <b>5 000 р. / месяц</b><br>
              за 1 сайт<br>
              Обычная стоимость работы парсера
            </p>
            <p class="promo__subtitle">
              <a href="#form" class="promo__button">
                Оставить заявку на парсинг
              </a>
            </p>
          </div>
          <img src="/images/candy5.jpg" alt="web-parsing" class="promo__img">
        </div>
      </div>
    </section>

    {{> contactform }}

    <section class="howitworks" id="howitworks">
      <div class="container">
        <h2 class="title2">Как это работает</h2>
        <ul class="howitworks__list">
          <li class="howitworks__item">
            <div class="howitworks__item_number">
              1
            </div>
            Определите, с каких веб-сайтов нужно собирать данные и какие именно данные интересуют
          </li>
          <li class="howitworks__item">
            <div class="howitworks__item_number">
              2
            </div>            
            По вашему техническому заданию <b>бесплатно</b> будет подготовлен прототип проекта. Данные будут собраны и представлены вам для выгрузки
          </li>
          <li class="howitworks__item">
            <div class="howitworks__item_number">
              3
            </div>
            Если формат и объем парсинга вас устраивает, заключаем договор на ежедневный сбор данных
          </li>
        </ul>
      </div>
    </section>
    {{#if articles.length}}
      <section class="articles">
        <div class="container">
          <div class="articles__head">
            <h2 class="title2">
              Статьи
            </h2>
            <a href="/articles" class="articles__head_link">Ещё</a>
          </div>
          <ul class="articles__list">
            {{#each articles}}
              <li class="articles__card">
                <h3 class="title3">
                  {{ cardTitle }}
                </h3>
                <div class="articles__section">
                  {{ cardDateCreate }}

                  {{#if cardTags.length}}
                    |
                    {{#each cardTags}}
                      <span class="articles__tag">{{ this }}</span>
                    {{/each}}
                  {{/if}}
                </div>
                <a href="/articles/{{cardSlug}}">
                  <img src="/images/articles/{{cardSlug}}/preview.png" alt="preview" class="articles__img">
                </a>
                <p class="articles__description">
                  {{ cardText }}
                </p>
                <a href="/articles/{{cardSlug}}" class="articles__head_link">Далее 	&#8594;</a>
              </li>
            {{/each}}
          </ul>
        </div>
      </section>
    {{/if}}