    <section class="articles-list">
      <div class="container">
        <h1>{{ cardTitle }}</h1>
        <div class="articles__section">
          {{ cardDateCreate }}
          {{#if cardTags.length}}          |
            {{#each cardTags}}
              <span class="articles__tag">{{ this }}</span>
            {{/each}}
          {{/if}}
        </div>

        <div class="articles__img-full">
          <img src="/images/articles/{{cardSlug}}/preview.png" alt="parsing" class="article__img-responsive">
        </div>


        <p class="articles__description">
          Парсинг — автоматизированный сбор и систематизация информации из открытых источников, 
          сайтов, баз данных, социальных сетей, онлайн-карт и т. д. 
          Для парсинга использую специализированные скрипты.
        </p>

        <p class="articles__description">
          Работать с этими скриптами-парсерами можно по такому алгоритму:
        </p>

        <ul>
          <li>
            для начала ищем источник данных, и формулируем параметры, по которым 
            данные нужно извлечь. Например, можно задать список адресов 
            интернет-магазинов конкурентов и собрать их ассортимент и цены
          </li>
          <li>
            запускаем алгоритм сбора данных для каждого из источников. 
            В результате получается простой набор данных, 
            обычно это текст с названием товара, цены, адреса картинок
          </li>
          <li>
            полученные и собранные таким образом данные преобразуем к необходимому виду. Чаще всего это эксель-файлы
          </li>
        </ul>

        <h2>Языки программирования для парсинга</h2>
        <p class="articles__description">
          Производить парсинг можно с использованием любого языка программирования. 
          Самые популярные это Python и Javascript. Я использую язык программирования JavaScript в его 
          серверном варианте Node.js и специализированную библиотеку <a href="https://pptr.dev/" target="_blank">puppeteer</a>.
        </p>
        <div class="articles__img-full">
          <img src="/images/articles/{{cardSlug}}/parse2.png" alt="parsing" class="article__img-responsive">
        </div>


        <h2>Для чего нужен парсинг</h2>
        <p class="articles__description">
          Парсинг это просто инструмент, и он не накладывает никакие на ваши творческие цели. 
          Однако, бывает полезно оттолкнуться от чего-то готового. Вот несколько популярных примеров задач, 
          которые решают с помощью парсинга:
        </p>
        <ul>
          <li>
            <b>Мониторинг ассортимента интернет магазинов и агрегаторов услуг.</b><br>
            Парсинг помогает первым узнать о выходе новинки (или наоборот — о снятии с продажи)
          </li>
          <li>
            <b>Мониторинг цен.</b><br>
            Можно успеть поймать скидку. Или же скорректировать цены в вашем интернет-магазине, 
            ориентируясь на цены конкурентов.
          </li>
          <li>
            <b>Контент</b><br>
            Для владельца сайта всегда актуальна проблема наполнения сайта востребованным и 
            актуальным контентом. Помочь решить эту задачу может парсер — например, собрав 
            самые популярные статьи на сайтах вашей тематики.<br>
            Отдельное направление мысли — отслеживание тех статей, которые быстро набирают популярность у аудитории.
          </li>
          <li>
            <b>Seo-продвижение</b><br>
            Бывает полезно знать, по каким ключевым словам продвигаются сторонние сайты в интернете в вашей тематике. 
            Собрать семантическое облако тоже можно с помощью парсинга.
          </li>
          <li>
            <b>Отзывы</b><br>
            Автоматизированное отслеживание появления новых отзывов позволит вам либо оперативно реагировать на них.
          </li>
          <li>
            <b>Аудитория социальных сетей</b>
            Для тонкой настройки показов рекламы бывает полезно собрать аудиторию в социальных сетях по определенным 
            критериям. Например, всех кто лайкал / подписывался / комментировал посты в некоторых группах
          </li>
        </ul>
        
        <a href="/articles" class="articles__head_link">&#8592; Назад</a>

      </div>
    </section>